*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight : 700;
}

header, footer{
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: white;
    height: 4em;
    /* margin: 0.3em 0; */
}
.container{
    display: flex;
    flex-direction: row;
    /* height: 80vh; */
    margin: 0.3em 0;
}
.left{
    background-color: plum;
    flex-grow: 4;
    flex-shrink: 1;
}
.right{
    background-color: rebeccapurple;
    flex-grow: 1;
    display: flex;
}
.a{
    background-color: red;
    height: 40vh;
}
.b{
    background-color: yellowgreen;
    height: 40vh;
}
.c{
    width: 100%;
}
@media only screen and (max-width: 900px) {
    .left{
        /* background-color: plum; */
        flex-grow: 1;
        /* flex-shrink: 1; */
    }
    .right{
        /* background-color: rebeccapurple; */
        flex-grow: 1;
    }  
  }
  @media only screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .c{
        height: 40vh;
    }
  }